.register {
	height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		),
		url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;
}

.registerTitle {
	font-size: 50px;
}

.registerForm {
	width: 400px;
	height: auto;
	padding: 1rem;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
    background-color: white;
}

.input__control {
    display: flex;
	flex-direction: column;
    margin: 0.6rem 0;
}

.registerForm > label {
    font-size: 1.3rem;
    color: #000000;
}

.registerInput {
    margin-top: 14px!important;
	padding: 1rem;
	background-color: white;
	border: 1px solid #cccccc;
	border-radius: 1px;
}

.registerInput:focus {
	outline: none;
}

.registerButton {
	margin-top: 20px;
	cursor: pointer;
	background-color: teal;
	color: white;
	padding: 10px;
	border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
	text-align: center;
    text-transform: uppercase;
}

.registerLoginButton {
	position: absolute;
	top: 60px;
	right: 20px;
	background-color: lightcoral;
	cursor: pointer;
	padding: 10px;
	border: none;
	color: white;
	border-radius: 10px;
}
